/* .box {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #3838FF;
}

.box:hover {
  background-color: #00D1AE;
  width: 200px;
  height: 200px;
  transition: width 2s ease-in 1s, height 4s, background-color 6s, transform 2s;;
}

p {
  max-width: 700px;
  font-family: Arial;
}

.container {
  animation-name: myslidein;
  animation-duration: 3s;
}

.hexagon {
  position: relative;
  width: 100px;
  height: 57.74px;
  background-color: #00D1AE;
  margin: 28.87px 0;
}

.hexagon:before, .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 28.87px solid #00D1AE;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 28.87px solid #00D1AE;
}

@keyframes myslidein {
  0% {
    margin-left: 100%;
    width: 300%;
  }
  100% {
    margin-left: 0%;
    width: 100%;
  }
}
*/
.container {
  margin: 20px 0 0 20px;
  display: inline-block;
}

.circle {
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  background: #456789;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 10px;
  float: left;
}
.square {
  background: #456789;
  height: 30px;
  width: 30px;
  margin: 10px;
  float: left;
}
.triangle {
  margin: 10px;
  float: left;
  border-style: solid;
  border-color: transparent transparent #456789 transparent;
  border-width: 0 20px 30px 20px;
}

@keyframes bounce {
  0% {
    margin-top: 7%;
  }

  100% {
    margin-top: -20%;
  }
}
